In [16]:
import pandas as pd
import numpy as np

In [17]:
d = pd.read_csv("C:/Bengaluru_House_Data.csv")

In [18]:
d.drop(['availability', 'location', 'society'], axis = 1, inplace = True)

In [19]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13320 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   balcony     12711 non-null  float64
 5   price       13320 non-null  float64
dtypes: float64(3), object(3)
memory usage: 624.5+ KB

In [20]:
area_dummies = pd.get_dummies(d['area_type'],prefix = 'area')

d = pd.concat([d, area_dummies ], axis= 1)
d.drop('area_type' , inplace = True, axis = 1)

In [21]:
d.nunique()

size                           31
total_sqft                   2117
bath                           19
balcony                         4
price                        1994
area_Built-up  Area             2
area_Carpet  Area               2
area_Plot  Area                 2
area_Super built-up  Area       2
dtype: int64

In [22]:
d.isnull().sum()

size                          16
total_sqft                     0
bath                          73
balcony                      609
price                          0
area_Built-up  Area            0
area_Carpet  Area              0
area_Plot  Area                0
area_Super built-up  Area      0
dtype: int64

In [23]:
d.isna().sum()

size                          16
total_sqft                     0
bath                          73
balcony                      609
price                          0
area_Built-up  Area            0
area_Carpet  Area              0
area_Plot  Area                0
area_Super built-up  Area      0
dtype: int64

In [24]:
d.dropna(inplace = True)

In [25]:
d['BHK']=d['size'].apply(lambda x: int(x.split(' ')[0]))

In [26]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12711 entries, 0 to 13319
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   size                       12711 non-null  object
 1   total_sqft                 12711 non-null  object
 2   bath                       12711 non-null  float64
 3   balcony                    12711 non-null  float64
 4   price                      12711 non-null  float64
 5   area_Built-up  Area        12711 non-null  uint8
 6   area_Carpet  Area          12711 non-null  uint8
 7   area_Plot  Area            12711 non-null  uint8
 8   area_Super built-up  Area  12711 non-null  uint8
 9   BHK                        12711 non-null  int64
dtypes: float64(3), int64(1), object(2), uint8(4)
memory usage: 744.8+ KB

In [27]:
def convert_sqft_tonum(x):
    token=x.split('-')
    if len(token)==2:
        return (float(token[0])+float(token[1]))/2
    try:
        return float(x)
    except:
        return None

d['total_sqft'] = d['total_sqft'].apply(convert_sqft_tonum)

In [28]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12711 entries, 0 to 13319
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   size                       12711 non-null  object
 1   total_sqft                 12669 non-null  float64
 2   bath                       12711 non-null  float64
 3   balcony                    12711 non-null  float64
 4   price                      12711 non-null  float64
 5   area_Built-up  Area        12711 non-null  uint8
 6   area_Carpet  Area          12711 non-null  uint8
 7   area_Plot  Area            12711 non-null  uint8
 8   area_Super built-up  Area  12711 non-null  uint8
 9   BHK                        12711 non-null  int64
dtypes: float64(4), int64(1), object(1), uint8(4)
memory usage: 744.8+ KB

In [29]:
d.drop('size', axis = 1, inplace = True)

In [30]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12711 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   total_sqft                 12669 non-null  float64
 1   bath                       12711 non-null  float64
 2   balcony                    12711 non-null  float64
 3   price                      12711 non-null  float64
 4   area_Built-up  Area        12711 non-null  uint8
 5   area_Carpet  Area          12711 non-null  uint8
 6   area_Plot  Area            12711 non-null  uint8
 7   area_Super built-up  Area  12711 non-null  uint8
 8   BHK                        12711 non-null  int64
dtypes: float64(4), int64(1), uint8(4)
memory usage: 645.5 KB

In [31]:
d.columns

Index(['total_sqft', 'bath', 'balcony', 'price', 'area_Built-up  Area',
       'area_Carpet  Area', 'area_Plot  Area', 'area_Super built-up  Area',
       'BHK'],
      dtype='object')

In [32]:
from sklearn.preprocessing import MinMaxScaler
lc = MinMaxScaler()
sd = lc.fit_transform(d)
sd

array([[0.02010829, 0.02564103, 0.33333333, ..., 0.        , 1.        ,
        0.02380952],
       [0.04964892, 0.1025641 , 1.        , ..., 1.        , 0.        ,
        0.07142857],
       [0.02745518, 0.02564103, 1.        , ..., 0.        , 0.        ,
        0.04761905],
       ...,
       [0.02173456, 0.02564103, 0.33333333, ..., 0.        , 0.        ,
        0.02380952],
       [0.08961678, 0.07692308, 0.33333333, ..., 0.        , 1.        ,
        0.07142857],
       [0.01042723, 0.        , 0.33333333, ..., 0.        , 1.        ,
        0.        ]])

In [33]:
nd = pd.DataFrame(sd)
nd.columns = d.columns

In [34]:
nd.columns

Index(['total_sqft', 'bath', 'balcony', 'price', 'area_Built-up  Area',
       'area_Carpet  Area', 'area_Plot  Area', 'area_Super built-up  Area',
       'BHK'],
      dtype='object')

In [35]:
f = ['total_sqft', 'bath', 'balcony',  'area_Built-up  Area',
       'area_Carpet  Area', 'area_Plot  Area', 'area_Super built-up  Area',
       'BHK']
r = ['price']

x = nd[f]
y = nd[r]

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

xt, xxt, yt, yyt = train_test_split(x,y, test_size = 0.20)

model = LinearRegression()
model.fit(xt,yt)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [37]:
x.isna().sum()

total_sqft                   42
bath                          0
balcony                       0
area_Built-up  Area           0
area_Carpet  Area             0
area_Plot  Area               0
area_Super built-up  Area     0
BHK                           0
dtype: int64

In [38]:
x.dropna()

,total_sqft,bath,balcony,area_Built-up Area,area_Carpet Area,area_Plot Area,area_Super built-up Area,BHK
0,0.020108,0.025641,0.333333,0.0,0.0,0.0,1.0,0.023810
1,0.049649,0.102564,1.000000,0.0,0.0,1.0,0.0,0.071429
2,0.027455,0.025641,1.000000,1.0,0.0,0.0,0.0,0.047619
3,0.029005,0.051282,0.333333,0.0,0.0,0.0,1.0,0.047619
4,0.022863,0.025641,0.333333,0.0,0.0,0.0,1.0,0.023810
...,...,...,...,...,...,...,...,...
12706,0.032717,0.051282,1.000000,0.0,0.0,0.0,1.0,0.047619
12707,0.065969,0.076923,0.000000,1.0,0.0,0.0,0.0,0.095238
12708,0.021735,0.025641,0.333333,1.0,0.0,0.0,0.0,0.023810
12709,0.089617,0.076923,0.333333,0.0,0.0,0.0,1.0,0.071429
12710,0.010427,0.000000,0.333333,0.0,0.0,0.0,1.0,0.000000

In [39]:
x.isnull().sum()

total_sqft                   42
bath                          0
balcony                       0
area_Built-up  Area           0
area_Carpet  Area             0
area_Plot  Area               0
area_Super built-up  Area     0
BHK                           0
dtype: int64

In [40]:
nd.isna().sum()

total_sqft                   42
bath                          0
balcony                       0
price                         0
area_Built-up  Area           0
area_Carpet  Area             0
area_Plot  Area               0
area_Super built-up  Area     0
BHK                           0
dtype: int64

In [41]:
nd.dropna(inplace = True)

In [42]:
nd.isna().sum()

total_sqft                   0
bath                         0
balcony                      0
price                        0
area_Built-up  Area          0
area_Carpet  Area            0
area_Plot  Area              0
area_Super built-up  Area    0
BHK                          0
dtype: int64

In [43]:
f = ['total_sqft', 'bath', 'balcony',  'area_Built-up  Area',
       'area_Carpet  Area', 'area_Plot  Area', 'area_Super built-up  Area',
       'BHK']
r = ['price']

x = nd[f]
y = nd[r]

In [67]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

xt, xxt, yt, yyt = train_test_split(x,y, test_size = 0.20)

model = LinearRegression()
model.fit(xt,yt)

LinearRegression()

In [68]:
a = model.score(xt,yt)
print(a)

0.38991988201141614

In [69]:
a = model.score(xxt,yyt)
a

0.4351726366006504